<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>homepage</key>
		<string>https://w0lfschild.github.io/app_cDock.html</string>
		<key>name</key>
		<string>🍭 Try cDock</string>
	</dict>
	<dict>
		<key>homepage</key>
		<string>https://github.com/w0lfschild/Flashlight</string>
		<key>name</key>
		<string>🔦 Try FlashLight</string>
	</dict>
	<dict>
		<key>homepage</key>
		<string>https://w0lfschild.github.io/app_SIMBL.html</string>
		<key>name</key>
		<string>📦 Try mySIMBL</string>
	</dict>
</array>
</plist>
