<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/sbin</string>
	</dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>com.w0lf.dblockinjector</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Caches/DarkBoot/osxinj</string>
		<string>loginwindow</string>
		<string>/Library/Caches/DarkBoot/libDBLoginWindowDYLIB.dylib</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>WorkingDirectory</key>
	<string>/Library/Caches/DarkBoot</string>
</dict>
</plist>
